<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brogapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <activity android:name=".History.HistoryAddToF"></activity>
        <activity android:name=".CreateNewBrew.BrewStartedActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateNewBrew.EnterFinalPageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateNewBrew.EnterBrewTimeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateNewBrew.EnterBloomTimeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateNewBrew.EnterBloomWaterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateNewBrew.EnterTempActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateNewBrew.EnterGrindActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CreateNewBrew.EnterWaterPerGramActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CreateNewBrew.EnterGramsActivity"
            android:label="@string/title_activity_enter_grams"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".History.HistoryActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LogOnActivities.CreateUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".LogOnActivities.LogInActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Favorites.FavoritesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ScanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".CleanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".BrewMainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ProfilePage"
            android:screenOrientation="portrait"/>
        <activity android:name=".HomePage"
            android:screenOrientation="portrait"/>
    </application>

</manifest>